.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-block: 1rem;
}

.column {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
}
