.plotNavigation {
  width: 100%;
  position: sticky;
  top: 100%;
  transform: translateY(calc(-100% - 1rem));
  z-index: 1;
  background: var(--text-color);
  padding: 10px;
  display: flex;
  /* all items to the left but with gaps between */
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  color: rgb(var(--body-background));
}

/** is mobile */
@media screen and (max-width: 768px) {
  .plotNavigation {
    flex-direction: column;
    width: auto;
    top: calc(100% - 5rem);
  }
}