.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  align-content: center;
  padding-top: 5rem;
  padding-bottom: 4rem;
}

.columnOne {
  grid-column: 1;
  justify-self: start;
}

.columnTwo {
  grid-column: 2;
  justify-self: center;
}

.columnThree {
  grid-column: 3;
  justify-self: end;
}
