html {
  font-size: 110%;
}

body {
  padding: 0;
  color: var(--text-color);
  line-height: 1.2;
  background: rgb(var(--body-background));
  min-height: 100vh;
  overflow-x: hidden;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/** is mobile */
@media screen and (max-width: 768px) {
  body {
    padding-inline: 25px;
  }
}

h1,
h2,
h3 {
  margin: 0;
  margin-top: 25px;
}

h1 {
  font-size: 52px;
  text-align: center;
  font-weight: normal;
}

h2 {
  font-weight: 400;
  font-size: 52px;
  font-weight: lighter;
}

h3 {
  font-size: 32px;
}

/** is mobile */
@media screen and (orientation: portrait) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }
}

a {
  all: unset;
  cursor: pointer;
}

.anchor {
  text-decoration: none;

  color: var(--anchor-gradient-end);
  background: var(--anchor-color);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;

  border-bottom: transparent 1px solid;

  transition: border-color 0.3s ease;

  word-break: keep-all;
  cursor: pointer;
}

.anchor:hover {
  text-decoration: underline;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;

  border-bottom-color: var(--anchor-border-color);
}

.anchor.active {
  border-bottom-color: var(--anchor-active-border-color);
}

ul {
  margin: 0;
  padding-left: 20px;
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  transform: translate(0, -2px);
  margin-left: 15px;
  margin-right: 15px;

  border-radius: var(--border-rounding) !important;
  border: 1px solid var(--text-color);
  outline: none;
  cursor: pointer;
  appearance: none;

  transition:
    --checkbox-background-color-start 0.5s ease-in-out,
    --checkbox-background-color-end 0.5s ease-in-out;

  background-image: linear-gradient(
    var(--checkbox-background-color-start),
    var(--checkbox-background-color-end)
  );
}

input[type="checkbox"]:checked {
  --checkbox-background-color-start: var(--anchor-gradient-start);
  --checkbox-background-color-end: var(--anchor-gradient-end);
}

hr {
  margin-block: 50px;
}

.clickable {
  cursor: pointer;
}

@keyframes grow-x {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes shrink-x {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.8rem;
  margin: 25px 0;
  table-layout: fixed;
}

td,
th {
  padding: 15px;
  word-wrap: break-word;
}

td,
th {
  text-align: left;
}

tr:nth-child(even) td {
  background-color: var(--table-row-even-background);
}

tr:nth-child(odd) td {
  background-color: var(--table-row-uneven-background);
}

/* CSS */
.button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: var(--base-white);
  background: var(--button-background);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: var(--button-border-radius);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: transform 0.3s ease;
  display: inline-block;

  cursor: pointer;
}

.button:before {
  content: "";
  background: var(--button-glow-background);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: var(--button-border-radius);
}

@keyframes glowing-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 200% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--button-background);
  left: 0;
  top: 0;
  border-radius: var(--button-border-radius);
}

.button:hover {
  transform: scale(var(--button-hover-scale));
}

.button.floating {
  position: fixed;
  z-index: 100;

  top: 0;
  left: 50%;
  transform: translateX(var(--button-floating-translateX));

  padding-block: 1em;

  transition: 0.6s;
}

.button.floating.bottom {
  top: inherit;
  bottom: 0;
}

.button.floating,
.button.floating:after {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.button.floating.bottom,
.button.floating.bottom:after {
  border-top-left-radius: var(--button-border-radius);
  border-top-right-radius: var(--button-border-radius);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.button.floating.closed {
  top: -100%;
}
.button.floating.bottom.closed {
  top: unset;
  bottom: -100%;
}

/** is mobile */
@media screen and (max-width: 700px) {
  .button.floating.bottom {
    left: 1rem;
    right: 1rem;
    transform: unset;
  }
}
@media screen and (max-width: 768px) {
  .button.floating.bottom {
    bottom: 3rem;
  }
}

.button.floating:hover {
  transform: scale(var(--button-hover-scale))
    translateX(
      calc(var(--button-floating-translateX) * (2 - var(--button-hover-scale)))
    );
}

.button.danger {
  background: var(--button-danger-background);
}

.button.warning {
  background: var(--button-warning-background);
}

.button.success {
  background: var(--button-success-background);
}

@keyframes glowingShadowAnimation {
  0% {
    background: var(--glowing-shadow-animation-background-start);
  }

  100% {
    background: var(--glowing-shadow-animation-background-end);
  }
}

input {
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid var(--input-border-color);
  outline: none;
}

code {
  background: var(--code-background);
  color: var(--code-color);
  padding: 0.5rem 0.75rem;
  display: block;
  border-left: 8px solid var(--code-border-left-color);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  line-height: 1.5;
}

pre {
  background: var(--pre-background);
  color: var(--pre-color);
  padding: 1rem;
  border-radius: 10px;
  overflow-x: auto;
}

.alert {
  border: 5px solid var(--alert-border-color);
  border-style: dashed;
  border-radius: 10px;
  padding: 1rem;
}

dialog {
  color: currentColor;
}
