:root {
  --text-color: #3e3e3e;
  --body-background: #ffffff;

  --anchor-gradient-start: #16c99e;
  --anchor-gradient-end: #1653c9;

  --anchor-color: linear-gradient(
    var(--anchor-gradient-start),
    var(--anchor-gradient-end)
  );
  --anchor-border-color: var(--anchor-gradient-end);
  --anchor-active-border-color: var(--anchor-gradient-start);
}

body {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  line-height: inherit;
  background: var(--body-background);
  min-height: 100vh;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 3.2rem;
  text-align: center;
}
h1 .highlight,
h3 .highlight {
}

h2 {
  font-weight: 400;
  font-size: 2.4rem;
}
h2 .highlight {
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.4rem;
  }
  h3 {
    font-size: 3rem;
  }
}

a {
  all: unset;
  cursor: pointer;
}

.anchor {
  text-decoration: none;

  color: var(--anchor-gradient-end);
  background: var(--anchor-color);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;

  border-bottom: transparent 1px solid;

  transition: border-color 0.3s ease;
}

.anchor:hover {
  text-decoration: underline;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;

  border-bottom-color: var(--anchor-border-color);
}

.anchor.active {
  border-bottom-color: var(--anchor-active-border-color);
}

ul {
  margin: 0;
  padding-left: 20px;
}
